
/* 	Table of Contents
========================================

	Global Defaults
	Tables
	Messages
	Resource Format
	Buttons
	Inputs
	Navigation
	Modals and Tiles
	Admin Tools
	Footer

======================================== */


/* 	GLOBAL DEFAULTS
======================================== */

html, body { height: 100%; }
body { 
	background: #ECF0F1;
	color: #3B0E09;
	font-family: 'Lato', Arial, sans-serif; 
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}
.no-space { margin-bottom: 0; }
.pull-left { float: left; }
.pull-right { float: right; }


/* 	TABLES
======================================== */

.vert {
	text-align: left;
}
.vert th {
	font-weight: 400;
	padding-right: 1em;
}
.list tr:hover > td {
	background: #E6E6E6;
}
.list th {
	font-size: 0.8em;
	font-weight: 700;
	text-align: left;
}
.list th, .list td {
	padding: 0.125em 0.25em;
	vertical-align: middle;
}
.total-row th {
	font-size: 0.85em;
	font-weight: 400;
	text-transform: uppercase;
}
.total-row td {
	font-size: 0.8em;
}
.total-row td.total {
	font-size: 1em;
	font-weight: 600;
	padding-top: 0.2em;
	text-align: center;
}


/* 	MESSAGES
======================================== */

.message {
	background: #c2dfe5;
	border-left: 5px solid #1F434A;
	padding: 10px;
	width: 100%;
}
.message.success {
	background: #dee6d1;
	border-color: #98B170;
	color: #3F5718;
}
.message.error {
	background: #ebbdb7;
	border-color: #591F19;
}
.alert {
	padding: 10px;
	width: 100%;
}
.alert.red {
	background: #ebbdb7;
}


/* 	RESOURCE FORMAT
======================================== */

.resource-format {
	background-position: left;
	background-repeat: no-repeat;
	background-size: 16px;
	padding-left: 20px;
}
.resource-format.gold { 
	background-image: url('../img/icons-sm/ico-sm-gold.png');
	color: #A69612; 
}
.resource-format.elixir { 
	background-image: url('../img/icons-sm/ico-sm-elixir.png');
	color: #9358AC; 
}
.resource-format.dark-elixir { 
	background-image: url('../img/icons-sm/ico-sm-darkelixir.png');
	color: #100529; 
}


/* 	BUTTONS
======================================== */

.button, .button:visited {
	background: #44606E;
	border: none;
	border-radius: 0.25em;
	color: #ECF0F1;
	cursor: pointer;
	display: inline-block;
	font-size: 0.875em;
	font-weight: 400;
	padding: 0.15em 0.75em;
	text-decoration: none;
	white-space: nowrap;
}
.button:hover {
	background: #233656;
}


/* 	INPUTS
======================================== */

.input-field {
	background: #fff;
	border: 1px solid #ccc;
	padding: 5px;
	margin: 2px auto;
	overflow: hidden;
	width: 95%;
}
.input-field label {
	float: left;
	width: 5%;
}
.input-field input {
	background: none;
	border: none;
	float: right;
	font-weight: 400;
	width: 94%;
}
.submit {
	padding: 0.5em;
	text-align: center;
}
.submit input {
	width: auto;
}


/* 	NAVIGATION
======================================== */

.top-bar {
	background: #103137;
	color: #fff;
	font-size: 1.2em;
	font-weight: 400;
	height: 40px;
}
.top-bar a {
	display: block;
	line-height: 40px;
	padding: 0 0.7em;
	text-decoration: none;
}
.top-bar a.site-title {
	background: url('../img/icons-sm/ico-sm-swords.png') left no-repeat;
	margin-left: 1em;
	padding-left: 30px;
}
.top-nav {
	margin-right: 0.5em;
}
.top-nav li {
	float: left;
}
.top-nav li a:hover {
	background: #27AE60;
}
.top-nav li a.inactive, .top-nav li a.inactive:hover {
	background: inherit;
	color: #ccc;
	cursor: default;
	font-size: 0.9em;
	font-weight: 300;
}

.sidebar {
	background: #1F434A;
	color: #c9cfcf;
	height: 100%;
	float: left;
	width: 10em;
}
.sidebar + div {
	margin-left: 10em;
	overflow: hidden;
}
.sidebar ul {
	list-style: none;
	margin: 1em 0 0;
}
.sidebar ul li {
	width: 100%;
}
.sidebar ul li.active {
	background: #3C5217;
}
.sidebar a {
	color: #c9cfcf;
	display: block;
	font-size: 0.95em;
	padding: 0.2em 0.2em 0.2em 1.25em;
	text-decoration: none;
	width: 100%;
}
.sidebar a:hover {
	background: #591F19;
	transition: color 0.1s linear, background 0.1s linear;
}

.sidebar ul li .subnav {
	display: none;
	font-size: 0.8em;
	margin: 0;
}
.sidebar ul li.active .subnav {
	display: inline;
}
.sidebar ul li .subnav li {
	padding-left: 1em;
}

.main-section, .main-section .container {
	height: 100%;
}
.no-sidebar {
	background: #1F434A;
}
.main-content {
	padding: 0 0.75em;
}


/* 	MODALS AND TILES
======================================== */

.modal {
	background: #ECF0F1;
	border-radius: 4px;
	display: block;
	margin: 5em auto;
	overflow: hidden;
	position: relative;
	width: 500px;
}
.quiet-link {
	color: #999;
	font-size: 0.8em;
	text-decoration: none;
}
.quiet-link:hover {
	color: #3B0E09;
}

/* 	ADMIN TOOLS
======================================== */

.inline-user-tools {
	list-style: none;
}
.inline-user-tools li {
	float: left;
}
.inline-user-tools li a {
	color: #C9CFCF;
}
.inline-user-tools li a:hover {
	color: #3B0E09;
}
.inline-user-tools li a.active {
	color: #E44444;
}


/* 	MY BASE
======================================== */

.mybase-sect-title {
	color: #666;
	text-transform: uppercase;
}

.mybase-dash-tile {
	background: #999;
	border-radius: 3px;
	color: #fff;
	width: 100%;
}
.mybase-dash-tile.green {
	background: #27AE60;
}
.mybase-dash-tile.gold {
	background: #A69612;
}
.mybase-dash-tile.purple {
	background: #9358AC;
}
.mybase-dash-tile.black {
	background: rgba(16, 5, 41, 0.75);
}
.mybase-dash-tile .tile-titlebar {
	background: rgba(255, 255, 255, 0.3);
	padding: 5px;
	width: 100%;
}
.mybase-dash-tile span.tile-title {
	letter-spacing: 2px;
	margin-left: 0.5em;
	text-transform: uppercase;
}
.mybase-dash-tile .tile-content {
	overflow: hidden;
	padding: 5px;
}
.mybase-dash-tile .tile-content .pull-left {
	float: left;
	padding: 1em;
}
.mybase-dash-tile .tile-content .pull-left.fade {
	opacity: 1;
}
.mybase-dash-tile .tile-content .pull-right {
	float: right;
	margin-right: 0.5em;
}
.mybase-dash-tile .tile-content .big-num {
	font-size: 3em;
	font-weight: 400;
	line-height: 1.4em;
}
.mybase-dash-tile .tile-content table {
	font-size: 0.8em;
}
.mybase-dash-tile .tile-content table th {
	width: 5em;
}
.mybase-dash-tile .tile-content table td {
	font-weight: 400;
	text-align: center;
}


.mybase-levels {
	font-size: 0.875em;
}
.mybase-levels th {
	text-align: left;
	padding-right: 1em;
}
.mybase-levels td {
	vertical-align: middle;
}
.mybase-level-info {
	font-size: 0.8em;
	padding: 0 1em 0.25em;
	white-space: nowrap;
}
.mybase-item-title {
	white-space: nowrap;
}
.mybase-lvl-select[type="radio"] {
	display: none;
}
.mybase-lvl-select[type="radio"] + label span {
	background: #C6CFD9;
	color: #bbb;
	cursor: pointer;
	display: inline-block;
	font-size: 0.6em;
	font-weight: 400;
	line-height: 1.5em;
	overflow: hidden;
	text-align: center;
	white-space: nowrap;
	width: 20px;
}
.mybase-lvl-select[type="radio"].avail-lvl + label span {
	background: #dfeef1;
	border: 1px dashed #ccc;
}
.mybase-lvl-select[type="radio"]:hover + label span {
	color: #3B0E09;
}
.mybase-lvl-select[type="radio"].avail-lvl:hover + label span {
	background: #b8dae0;
}
.mybase-lvl-select[type="radio"]:checked + label span, .mybase-lvl-select[type="radio"]:checked:hover + label span {
	background: #44606E;
	border: none;
	border-radius: 0.25em;
	color: #fff;
	font-weight: 400;
	font-size: 0.85em;
}
.mybase-shortnum {
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #103137;
	font-weight: 400;
	margin: 2px 0.5em;
	padding: 2px 0;
	text-align: center;
	width: 2.5em;
}


/* 	FOOTER
======================================== */

.footer {
	background: #103137;
	color: #ECF0F1;
}
footer {
	margin: 0.5em 1em;
}
.disclaimer {
	color: #999;
	font-size: 0.6em;
	line-height: 1.1em;
	padding: 0 2em 1em;
}
a.zs-signature {
	color: #999;
	font-size: 0.8em;
	text-decoration: none;
	transition: color 0.2s ease;
}
.zs-signature svg {
	float: left;
	height: 1.25em;
	margin: 0.2em 0.5em 0 0;
	width: 1.25em;
}
.zs-signature path {
	fill: #666;
	transition: fill 0.2s ease;
}
.zs-signature:hover {
	color: #ECF0F1;
}
.zs-signature:hover path {
	fill: #fff;
}

