
/* 	GLOBAL DEFAULTS
======================================== */
body { 
	background: #ECF0F1;
	color: #3B0E09;
	font-family: 'Lato', Arial, sans-serif; 
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
}


/* 	TEXT AND LISTS
======================================== */

.horizontal-list {
	margin: 0;
}
.horizontal-list li {
	float: left;
}

/* 	BUTTONS
======================================== */

.button, .button:visited {
	background: #44606E;
	border: none;
	border-radius: 0.25em;
	color: #ECF0F1;
	cursor: pointer;
	display: inline-block;
	font-size: 0.875em;
	font-weight: 400;
	padding: 0.15em 0.75em;
	text-decoration: none;
	white-space: nowrap;
}
.button:hover {
	background: #233656;
}
.button.inactive, .button.inactive:hover {
	background: #999;
	cursor: default;
}
.button.label, .button.label:hover {
	background: #ECF0F1;
	color: #3B0E09;
	cursor: default;
}

/* 	TABLES
======================================== */

.vert th {
	text-align: left;
	padding: 0 0.5em;
	white-space: nowrap;
}
.vert td {
	width: 100%;
}
.list th, .list td {
	padding: 0 0.5em;
	vertical-align: middle;
}
.list th {
	font-size: 0.85em;
	font-weight: 400;
	text-align: left;
}
.list td {
	font-size: 0.875em;
}

/* 	INPUTS
======================================== */

input {
	border: 1px solid #B3B3B3;
	border-radius: 0.25em;
	color: #233656;
	font-weight: 400;
	line-height: 1.5em;
	padding: 0.15em 0.2em;
	margin: 0.25em;
	text-indent: 0.25em;
	width: 100%;
}
.submit {
	padding: 0.5em;
	text-align: center;
}
.submit input {
	width: auto;
}


/* 	NAVIGATION
======================================== */

.top-nav {
	background: #103137;
	color: #ECF0F1;
	font-size: 1.2em;
	font-weight: 400;
	line-height: 1.6em;
	padding-left: 0.5em;
}
.top-nav a {
	padding: 2em 0.4em;
	text-decoration: none;
	transition: background 0.15s linear;
}
.top-nav a:hover {
	background: #556E2D;
}
.nav-right {
	float: right;
	margin-right: 1em;
}
.main, .main .container {
	min-height: 91%;
}
.left-nav {
	background: #1F434A;
	padding: 0;
	position: absolute;
	left: 0;
	height: 80em;
	width: 10em;
}
.left-nav ul {
	margin: 2em 0 0;
	width: 100%;
}
.left-nav ul li { width: 100%; }
.left-nav a {
	color: #c9cfcf;
	display: block;
	padding: 0.25em 0.25em 0.25em 1em;
	text-decoration: none;
	width: 100%;
}
.left-nav a:hover {
	background: #591F19;
	transition: color 0.1s linear, background 0.1s linear;
}
.main .content {
	margin-left: 11em;
}


/* 	FOOTER
======================================== */

.footer {
	background: #103137;
	color: #ECF0F1;
}
footer {
	font-size: 0.8em;
	margin-left: 1em;
}

/* 	MY BASE
======================================== */

.mybase-levels {
	font-size: 0.875em;
}
.mybase-levels th {
	text-align: left;
	padding-right: 1em;
}
.mybase-levels td {
	vertical-align: middle;
}
.mybase-lvl-select[type="radio"] {
	display: none;
}
.mybase-lvl-select[type="radio"] + label span {
	border: 1px solid #999;
	cursor: pointer;
	display: inline-block;
	font-size: 0.714em;
	line-height: 1.5em;
	text-align: center;
	white-space: nowrap;
	width: 18px;
}
.mybase-lvl-select[type="radio"]:checked + label span {
	font-weight: 600;
}

